@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "poppins", sans-serif;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(
    135deg,
    rgba(2, 39, 80, 0.795),
    rgb(50, 173, 182)
  );
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.search input {
  border: 0;
  outline: 0;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 1rem;
  background-color: aliceblue;
  color: rgb(49, 49, 49);
}
body {
  background-color: rgb(49, 49, 49);
}
.search button {
  border: 0;
  outline: 0;
  background-color: aliceblue;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0;
}
.search_icon {
  font-size: 1.5rem;
}
